body {
  background-image: url('./assets/background1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 120px;
  justify-content: center;
}

.home-container {
  text-align: center;
  margin-bottom: 20px;
  margin: 0 auto;
  max-width: 500px;
  max-height: 400px; 
  padding: 20px;
  padding-bottom: 20px; 
}

.wording {
  margin: 0px;
}

.wording > h1 {
  color:white;
  text-align-last: center;
  font-size: 65px;
}

.wording > p {
  color:white;
  font-size: 35px;
}

.home-btns {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.paragraph {
  color: black;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  max-height: 800px; 
  padding: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1.4);
}

.para-container {
  margin: 0 auto;
  margin-top: 20px;
  padding: 50px;
  background-color: #ffffffd9;
  background-position: center;
  max-width: 500%;
  max-height: 350%;
}

.navbar-container {
  background-color: rgba(9, 0, 183, 0.628);
}

.navbar-outer {
  height: 120px;
  background: linear-gradient(#0c0c0c, #ffffffd9);
}

.nav-name {
  justify-content: start;
  font-weight: bold;
}

.me-auto {
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding-right: 40px;
}

.signup-container {
  background-color: rgba(255, 255, 255, 0.808);
  color: rgba(9, 0, 183, 0.628);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-header {
  margin-bottom: 1rem;
}

.form-group {
  width: 300px;
  margin-bottom: 1rem;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.button {
  width: 100%;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.808);
  color: rgba(9, 0, 183, 0.628);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-group {
  width: 300px;
  margin-bottom: 1rem;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.button {
  width: 100%;
}